body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8f06d9;
}

.stopwatch {
    text-align: center;
    background-color: #009dff;
    border: 2px solid #11c2b6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time {
    font-size: 2em;
    margin-bottom: 10px;
}

.controls button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.controls button#startStop {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.controls button#reset {
    background-color: #f44336;
    color: white;
    border: none;
}
